// El guion bajo indica que se incluye en otro archivo para que no cree otra hoja de estilos con este

// Colores
$verde: #4CB8B4;
$rosa: #F53756;
$amarillo: #FEF46D;
$morado: #752F97;
$negro: #000000;
$blanco: #FFFFFF;

// Tipografia
$fuente_principal: 'Montserrat', sans-serif;

